@import './base.css';

.button{
    cursor: pointer;
    font-size: 20px;
    color: rgb(209, 157, 3);
    background-color: rgb(54, 85, 5);
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}

.button:hover{
    transition: all 0.5s ease;
    background-color: rgb(98, 152, 11);
}

.modal__top {
}
.modal__top-title {
    margin: 10px;
    color: rgb(215, 181, 80);
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.modal__top-cross {
    cursor: pointer;
    color: black;
    position: absolute;
    right: 20px;
    top: 10px;
}

.modal__top-cross:hover{
    transition: all 0.5s ease;
    color: aliceblue;
  }
