
* {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

    body {
    min-height: 100vh;
    color: var(--color-text);
    background: #3e7e12;
    background: linear-gradient(90deg,#3e7e12 80%, #000000 95%);
    background: -webkit-linear-gradient(90deg,#3e7e12 80%, #000000 95%);
    background: -moz-linear-gradient(90deg,#3e7e12 80%, #000000 95%);
    transition:
    color 0.5s,
    background-color 0.5s;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.button{
    cursor: pointer;
    font-size: 20px;
    color: rgb(209, 157, 3);
    background-color: rgb(54, 85, 5);
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}

.button:hover{
    transition: all 0.5s ease;
    background-color: rgb(98, 152, 11);
}

